<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cat.cateyalmovil" version="5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cateyal</name>
    <description>
        Cateyal
    </description>
    <author email="info@practisis.com" href="http://www.cateyal.com/index.html">
        Cateyal
    </author>
    <content src="index.html" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
    <preference name="permissions" value="none" />
    <preference name='phonegap-version' value='cli-6.5.0' />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <platform name="ios">
		<icon src="ios/logoC57x57.png" width="57" height="57" />
		<icon src="ios/logoC144x144.png" width="144" height="144" />
		<icon src="ios/logoC72x72.png" width="72" height="72" />
		<icon src="ios/logoC114x144.png" width="114" height="114" />
		<icon src="ios/logoC60x60.png" width="60" height="60" />
		<icon src="ios/logoC120x120.png" width="120" height="120" />
		<icon src="ios/logoC180x180.png" width="180" height="180" />
		<icon src="ios/logoC76x76.png" width="76" height="76" />
		<icon src="ios/logoC152x152.png" width="152" height="152" />
		<icon src="ios/logoC29x29.png" width="29" height="29" />
		<icon src="ios/logoC58x58.png" width="58" height="58" />
		<icon src="ios/logoC87x87.png" width="87" height="87" />
		<icon src="ios/logoC40x40.png" width="40" height="40" />
		<icon src="ios/logoC80x80.png" width="80" height="80" />
		<splash src="ios/logoC_splash1.png" width="1242" height="2208" /> 
		<splash src="ios/logoC_splash2.png" width="2208" height="1242" /> 
		</platform>
		<platform name="android">
		<icon src="ios/logoC36x36.png" qualifier="ldpi" />
		<icon src="ios/logoC48x48.png" qualifier="mdpi" />
		<icon src="ios/logoC72x72_2.png" qualifier="hdpi" />
		<icon src="ios/logoC96x96.png" qualifier="xhdpi" />
		<icon src="ios/logoC144x144.png" qualifier="xxhdpi" />
		<icon src="ios/logoC192x192.png" qualifier="xxxhdpi" />
		</platform>
	<platform name="winphone">
		</platform>
	<access origin="*" />
	<engine name="android" spec="~4.1" />
</widget>
